!!!5
html(lang='en')
	head 
		title= "Chat Mania - Real Time Chattin"
		script(src='http://code.jquery.com/jquery-latest.min.js')
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')

	body
		#userList(style='width: 300px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
		#content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;') 
		.controls
			input#name(style='width:350px;', placeholder='Username')
			br
			input#field(style='width:350px;', placeholder='Message')
			input#send(type='button', value='send')
